<app-header></app-header>

<div  class="main">
<div class="container">

    <div>
    <h1>PAYMENT PLAN</h1>
    <table class="table custom-table">
        <thead>
            <tr  style="font-weight: bold;font-size: 20px;background-color: gray;">
                <th>DURATION</th>
                <th>2+ ODDS VIP</th>
                <th>ROLLOVER</th>
                <th>WEEKEND 10 ODDS</th>
            </tr>
        </thead>
        <tbody>

            <tr>
              
                <td style="color: rgb(95, 179, 12);font-weight: bold;">Daily Plan</td>
                <td>KES.80</td>
                <td>KES.80</td>
                <td>KES.150</td>
                <td></td>
            </tr>
            
            <tr>
              
                <td style="color: rgb(95, 179, 12);font-weight: bold;">1 WEEK</td>
                <td>KES.500</td>
                <td>KES.500</td>
                <td>KES.800</td>
                <td></td>
            </tr>
          
            <tr>
                <td style="color: rgb(95, 179, 12);font-weight: bold;">2 WEEKS</td>
                <td>KES. 900</td>
                <td>KES.900</td>
                <td>KES.1,500</td>
                <td></td>
            </tr>
            <tr>
                <td style="color: rgb(95, 179, 12);font-weight: bold;">MONTHLY</td>
                <td>KES.1700</td>
                <td>KES.1700</td>
                <td>KES.2,500</td>
                <td></td>
            </tr>
         
        </tbody>
    </table>
    </div>

</div>

<div class="d-grid gap-2 col-6 mx-auto" style="margin-left: 50%;width: 300px;height: 300px;margin-top: 120px;">
    
    <h4 style="font-weight: bold;">Make your Subscription Payment here <i class="fa-regular fa-hand-point-down"></i>:</h4>
    <button class="btn btn" type="button"> <i class="fa-solid fa-building-columns"></i>Bank Payment</button>
    <button class="btn btn" type="button" (click)="makeMpesaPayment()"> <i class="fa-solid fa-money-check-dollar"></i>M-Pesa</button>
    <button class="btn btn" type="button"> <i class="fa-brands fa-paypal"></i>PayPal</button>
  </div>
</div>

<app-footer style="position: fixed;"></app-footer>


