<app-header></app-header>

<div class="quiz">
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
  
  style="width: 350px;">
Who are we as PredictInvest
  </a>

  <ul class="dropdown-menu" >
    <a class="dropdown-item" href="#" >PredictInvest is regulated web platform dealing with indept analysis of football,basketball and Tennis ball.We are </a>
  </ul>
</div>

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
  
  style="width: 350px;">
    How to become a member
  </a>

  <ul class="dropdown-menu" >
    <li><a class="dropdown-item" href="#">You can become a member simply by registering for free. Register here.</a></li>
  </ul>
</div>

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
  
  style="width: 350px;">
   How sure is our Analysis
  </a>

  <ul class="dropdown-menu" >
    <li><a class="dropdown-item" href="#">We have a team of top notched well researched/informed experts that score over 95% on the average in their accuracy rate. <br> You are guaranteed of making substantial profits.</a></li>
  </ul>
</div>

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
  
  style="width: 350px;">
    How will you Invest Here?
  </a>

  <ul class="dropdown-menu" >
    <li style="margin-left: 5%;"><a class="dropdown-item" href="#">See Football Investment Scheme for detailed information..</a></li>
  </ul>
</div>
</div>

<h5>
  If you cannot find the answers you require above, <span  routerLink="/contact-us">click here to contact us. </span>We are sure to respond in less than 24 hours.
</h5>

<app-footer></app-footer>