<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Important Features</h5>
          <ul>
            <li>Live Match Updates</li>
            <li>Player Statistics</li>
            <li>League Standings</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Popular Leagues</h5>
          <ul>
            <li>Premier League</li>
            <li>La Liga</li>
            <li>Serie A</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Connect with Us</h5>
          <p>Follow us on social media for the latest news and updates.</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Facebook</a></li>
            <li class="list-inline-item"><a href="#">Twitter</a></li>
            <li class="list-inline-item"><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
