.container{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    background-color: rgb(245, 239, 209);
    width: 1400px;
    margin-left: 2%;
    margin-right: 2%;
}

.d-grid{
margin-top: 0px;
width: 300px;
margin-left: 0px;
}

.btn{
    width: 300px;
    height: 80px;
    font-size: 25px;
    background-color: rgb(120, 228, 120);
}


.content{
background-color: rgb(236, 228, 178);
width: 400px;
height: 420px;
margin-bottom: 20px;
margin-left: 20px;
}

span{
    color:blue;
    text-decoration: underline;

}