<app-header></app-header>

<div class="container">

    <div class="d-grid gap col-6 mx-auto">
      
        <button class="btn " type="button"> DAILY 2+ ODDS</button>
        <button class="btn " type="button">ROLLOVER</button>
        <button class="btn " type="button">WEEKEND 10 ODDS</button>
        <button class="btn " type="button">50 0DDS</button>
      </div>


    <div>
        <img src="assets/images/copy.png" alt="" style="width: 580px;height: 420px;"> 
      </div>

    

<div class="content">

    <h2 [@bobInOut]="animationState"
    style="margin-left: 10%;
    color: red;
    margin-top: 0px;
    font-weight: bold;"
    >How to Subscribe:</h2>
    <br>
    
    
    
<h5 style="text-align: center;">	
    You can subscribe to any of our plans by making payment via the following medium:
    M-pesa, Bank Payment or PayPal. <br><br>  Just click on the payment methods buttons shown.
   
    (Ensure you are a registered member,  <span
    
    routerLink="/registration"
    >click here to register for free if you are not)</span></h5> <br> <br>

    <button class="btn" type="button" style="height: 50px;margin-left:30px;width: 340px;"
    
    routerLink="/subscription-plan"
    > View Subscription Plan here</button>
</div>




 

</div>

<app-footer style="width: 100%;"></app-footer>