<div class="main-pic">
    <img src="assets/images/money logo.jpg" style="width: 100%; height: 100vh; position: relative;">
    
    <div class="popup">
        <h5 [@bobInOut]="animationState" style="color: red; font-weight: bold;">Daily 2+ODDS, and Rollover VIP Ready!</h5>
    </div>

    <div class="login">
<h2><span routerLink="/login" style="cursor: pointer;">Click here to Login/Register for VIP</span> <br> <br><br><br>  Scroll down for free Tips</h2>
    </div>
</div>

<div class="freeTips">
      
    <div style="height: 20px;margin-top: 20px;text-align: center;">
        <h2 style="color: rgb(63, 119, 63);font-weight: bold;margin-left: 2%;">
            Free tips Today:
        
          </h2>
    </div>

    <div class="container" style="margin-top: 15px;">
      <table class="table custom-table">
          <thead>
              <tr>
                  <th>Time</th>
                  <th>League</th>
                  <th>Match</th>
                  <th>Tip</th>
                  <th>Score</th>
              </tr>
          </thead>
          <tbody>
              
              <tr>
                  <td>12:00</td>
                  <td>GER 2</td>
                  <td>Dusseldorf vs Greuther Furth</td>
                  <td>1X</td>
                  <td></td>
              </tr>
            
              <tr>
                  <td>15:00</td>
                  <td>ECH</td>
                  <td>Norwich vs Bristol City</td>
                  <td>1X</td>
                  <td></td>
              </tr>
              <tr>
                  <td>12:30</td>
                  <td>ECH</td>
                  <td>Leicester vs West Brom</td>
                  <td>1X</td>
                  <td></td>
              </tr>
              <tr>
                  <td>17:15</td>
                  <td>FA CUP</td>
                  <td>Man City vs Chelsea</td>
                  <td>Over 1.5 goals</td>
                  <td></td>
              </tr>
              <tr>
                  <td>18:30</td>
                  <td>EPL</td>
                  <td>AstonVilla vs Chelsea</td>
                  <td>Over 1.5</td>
                  <td></td>
              </tr>

            
          </tbody>
      </table>
  </div>
  
  
  
  </div>
